.container {
  padding-top: 10px; 
}
.card-columns {
  column-count: 5;
}
.mySlides {
  display: none;
  height: 100%;
}
.mySlides img {
  margin-bottom: 10px;
}
.card img:hover {
  cursor: pointer;
}
.modal-body {
  color: #fff;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  left: 0;
  padding-left: 40px;
}
.next {
  right: 0;
  padding-right: 40px;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-cap{
  position: absolute;
  bottom: 10%;
  left: 35%;
  background-color: #fff;
}